/* normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
blockquote {
  margin: 0;
}
* {
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: GothamPro, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}
body {
  height: 100%;
  font-size: 1.4rem;
  color: #000;
  position: relative;
  min-width: 640px;
  -webkit-transition: left 0.2s;
          transition: left 0.2s;
  left: 0;
}
@media (min-width: 640px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 900px) {
  body {
    -webkit-transition: left 0.5s;
            transition: left 0.5s;
    padding-top: 82px;
  }
  body._move {
    left: 509px;
  }
}
body.blackout:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.88);
  z-index: 1;
}
.img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.img_offsetLeft_mm {
  margin-left: -30px;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.btn {
  display: inline-block;
  vertical-align: top;
  min-width: 182px;
  height: 55px;
  padding: 0 20px;
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  text-decoration: none;
  text-align: center;
  margin: 0;
  outline: none;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
}
@media (max-width: 900px) {
  .btn {
    width: 100%;
    font-size: 2.4rem;
  }
}
.btn:hover {
  box-shadow: inset 0 0 0 30px #f2f2f2;
}
a.btn {
  line-height: 55px;
}
.btn_color_blue {
  background-color: #41cffa;
  color: #fff;
  border: none;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.btn_color_blue:hover {
  opacity: 0.8;
}
.btn_color_blue:hover {
  box-shadow: none;
}
.btn_size_s {
  height: 43px;
}
a.btn_size_s {
  line-height: 43px;
}
.btn_hover_false {
  opacity: 1 !important;
}
.input {
  background-color: #f2f2f2;
  outline: none;
  border: none;
  height: 55px;
  padding: 0 20px;
  font-size: 1.4rem;
  width: 100%;
}
@media (max-width: 900px) {
  .input {
    font-size: 1.8rem;
  }
}
.input_size_s {
  height: 43px;
}
.link {
  text-decoration: none;
}
.inputLabel__name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 12px;
}
@media (max-width: 900px) {
  .inputLabel__name {
    font-size: 1.8rem;
  }
}
a {
  text-decoration: none;
  color: #000;
}
.i-basket:before {
  content: '';
  font-family: fontello;
}
.i-cross:before {
  content: '';
  font-family: fontello;
}
.i-angleBracketLeft:before {
  content: '';
  font-family: fontello;
}
.i-magnifier:before {
  content: '';
  font-family: fontello;
}
.i-fb {
  background: url("../img/i-fb.svg") 0 0 no-repeat;
  width: 12px;
  height: 20px;
  background-position: center;
}
.i-tw {
  background: url("../img/i-tw.svg") 0 0 no-repeat;
  width: 12px;
  height: 20px;
  background-position: center;
}
.i-project {
  display: inline-block;
  background: url("../img/i-project.png") 0 0 no-repeat;
  width: 93px;
  height: 61px;
}
@media (max-width: 900px) {
  .i-project {
    background-size: auto 80%;
    background-position: center;
  }
}
.i-screen {
  display: inline-block;
  background: url("../img/i-screen.png") 0 0 no-repeat;
  width: 77px;
  height: 59px;
}
@media (max-width: 900px) {
  .i-screen {
    background-size: auto 80%;
    background-position: center;
  }
}
.i-soundbar {
  display: inline-block;
  background: url("../img/i-soundbar.png") 0 0 no-repeat;
  width: 84px;
  height: 53px;
}
@media (max-width: 900px) {
  .i-soundbar {
    background-size: auto 80%;
    background-position: center;
  }
}
.text {
  font-size: 1.4rem;
  color: #000;
  font-weight: 400;
  font-style: normal;
}
.text_size_xs {
  font-size: 1.2rem;
}
.text_size_s {
  font-size: 1.4rem;
}
.text_size_m {
  font-size: 1.6rem;
}
.text_size_l {
  font-size: 1.8rem;
}
.text_size_xl {
  font-size: 2.4rem;
}
.text_size_xxl {
  font-size: 3rem;
}
.text_size_xxxl {
  font-size: 4.4rem;
}
.text_color_red {
  color: font_color_red;
}
.text_color_redDark {
  color: font_color_redDark;
}
.text_color_pink {
  color: font_color_pink;
}
.text_color_white {
  color: #fff;
}
.text_underline_solid {
  border-bottom: 1px solid;
}
.text_underline_dashed {
  border-bottom: 1px dashed;
}
.text_weight_light {
  font-weight: 300;
}
.text_weight_normal {
  font-weight: 400;
}
.text_weight_semibold {
  font-weight: 600;
}
.text_weight_bold {
  font-weight: 700;
}
.text_weight_extrabold {
  font-weight: 800;
}
.text_style_italic {
  font-style: italic;
}
p {
  font-size: 1.4rem;
  color: #000;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
h1 {
  font-family: Ekibastuz, sans-serif;
  font-size: 4.4rem;
  margin-bottom: 20px;
}
h2 {
  font-family: Ekibastuz, sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}
h3 {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0;
}
h4 {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
}
h5 {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}
h6 {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  margin: 5px 0;
  line-height: 1.5;
}
ul li:before {
  content: '— ';
}
ol {
  list-style: none;
  padding-left: 0;
}
ol li {
  counter-increment: list;
  margin: 5px 0;
  line-height: 1.5;
}
ol li:before {
  content: counter(list) ' ';
  margin-right: 8px;
}
dl dt {
  font-weight: bold;
  line-height: 1.5;
}
dl dt:before {
  content: '— ';
}
dl dd {
  margin-left: 1.8rem;
  line-height: 1.5;
}
dl dd:not(:last-child) {
  margin-bottom: 20px;
}
@font-face {
  font-family: GothamPro;
  src: url("../fonts/GothaProReg.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: GothamPro;
  src: url("../fonts/GothaProBol.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: fontello;
  src: url("../fonts/fontello.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Ekibastuz;
  src: url("../fonts/Ekibastuz_Heavy.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Ekibastuz;
  src: url("../fonts/Ekibastuz_Black.otf");
  font-weight: 900;
  font-style: normal;
}
.jq-checkbox {
  top: -1px;
  width: 13px;
  height: 13px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  background: #f6f6f6 url("data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=") repeat-x;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #fff, inset 1px -1px #fff;
  vertical-align: middle;
  cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
  width: 9px;
  height: 9px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: #666;
  box-shadow: inset 0 -3px 6px #aaa;
}
.jq-checkbox.focused {
  border: 1px solid #08c;
}
.jq-checkbox.disabled {
  opacity: 0.55;
}
.jq-radio {
  width: 12px;
  height: 12px;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  background: #f6f6f6 url("data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=") 0 -1px repeat-x;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #fff, inset 1px -1px #fff;
  vertical-align: middle;
  cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
  width: 6px;
  height: 6px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #666;
}
.jq-radio.focused {
  border: 1px solid #08c;
}
.jq-radio.disabled {
  opacity: 0.55;
}
.jq-file {
  width: 270px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 4px;
}
.jq-file input {
  cursor: pointer;
  height: auto;
  line-height: 1em;
}
.jq-file:hover .jq-file__browse {
  background-color: #e6e6e6;
  background-position: 0 -10px;
}
.jq-file:active .jq-file__browse {
  background: #f5f5f5;
  box-shadow: inset 1px 1px 3px #ddd;
}
.jq-file.disabled .jq-file__name {
  color: #888;
}
.jq-file__name {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 80px 0 10px;
  color: #333;
  font: 14px/30px GothamPro, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #f1f1f1;
  background: #fff;
}
.focused .jq-file__name {
  border: 1px solid #5794bf;
}
.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background: #f1f1f1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC") repeat-x;
  box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  color: #333;
  text-shadow: 1px 1px #fff;
  font: 14px/30px GothamPro, sans-serif;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}
.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  opacity: 0.3;
}
.jq-selectbox .placeholder {
  color: #888;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  opacity: 1;
}
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.jq-selectbox li {
  min-height: 18px;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  color: #231f20;
  margin: 0;
}
.jq-selectbox li.selected {
  background-color: #808080;
  color: #fff;
}
.jq-selectbox li:hover {
  background-color: #41cffa;
  color: #fff;
}
.jq-selectbox li.disabled {
  color: #aaa;
}
.jq-selectbox li.disabled:hover {
  background: none;
}
.jq-selectbox li.optgroup {
  font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231f20;
  cursor: default;
}
.jq-selectbox li.option {
  padding-left: 25px;
}
.jq-selectbox__select {
  height: 55px;
  padding: 0 45px 0 20px;
  width: 100%;
  background-color: #f2f2f2;
  color: #000;
  font-size: 1.4rem;
}
.jq-selectbox__select:hover {
  background-color: #e6e6e6;
  background-position: 0 -10px;
}
.jq-selectbox__select:active {
  background: #f5f5f5;
}
.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 55px;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 12px solid #000;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  opacity: 1;
}
.jq-selectbox__dropdown {
  top: 56px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  font: 14px/18px GothamPro, sans-serif;
}
.jq-selectbox__search {
  margin: 5px;
}
.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%;
  box-shadow: inset 1px 1px #f1f1f1;
  color: #333;
  -webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #f0f0f0;
  font-size: 13px;
}
.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  background: #fff;
  color: #333;
  font: 14px/18px GothamPro, sans-serif;
  cursor: default;
}
.jq-select-multiple.focused {
  border: 1px solid #5794bf;
}
.jq-select-multiple.disabled {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}
.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}
.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
  background: #08c;
  color: #fff;
}
.jq-select-multiple li.disabled {
  color: #aaa;
}
.jq-select-multiple li.optgroup {
  font-weight: bold;
}
.jq-select-multiple li.option {
  padding-left: 25px;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #ccc;
  color: #fff;
}

.articleShort {
  text-decoration: none;
  color: #000;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
}

.articleShort:hover .articleShort__title {
  color: #808080;
}
.articleShort__card {
  background-color: #fff;
  box-shadow: 0 0 0 1px #f2f2f2;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  position: relative;
  padding-bottom: 20px;
  height: 100%;
  z-index: 1;
}
.articleShort__card:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.articleShort__img {
  position: relative;
  height: 165px;
  margin-bottom: 29px;
}
.articleShort__img_height_high {
  height: 200px;
}
.articleShort__img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.articleShort__title {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0 28px;
  margin-bottom: 16px;
  line-height: 21px;
  -webkit-transition: color 0.2s;
          transition: color 0.2s;
  height: 63px;
  overflow: hidden;
}
@media (max-width: 900px) {
  .articleShort__title {
    font-size: 2.4rem;
  }
}
.articleShort__desc {
  font-size: 1.2rem;
  padding: 0 28px;
  height: 110px;
  overflow: hidden;
  line-height: 16px;
  margin-bottom: 17px;
}
@media (max-width: 900px) {
  .articleShort__desc {
    font-size: 1.6rem;
  }
}
@media (min-width: 900px) {
  .articleShort__desc_height_short {
    height: 45px;
  }
}
.articleShort__btn {
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 0 28px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  opacity: 0;
  z-index: 2;
}
.back {
  line-height: 51px;
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 900px) {
  .back {
    padding: 0 40px;
  }
}
.back__link {
  display: inline-block;
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
}
.back__link:hover .back__icon:before {
  left: -5px;
}
.back__icon {
  display: inline-block;
  font-size: 2.4rem;
  vertical-align: middle;
  margin-right: 14px;
}
.back__icon:before {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s;
          transition: left 0.3s;
}
.basket {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 0;
  -webkit-transition: color 0.3s, border-color 0.3s;
          transition: color 0.3s, border-color 0.3s;
  border: 1px solid transparent;
  padding: 10px 30px 10px;
  margin-right: 10px;
}
.basket:hover {
  color: #41cffa;
}
@media (max-width: 900px) {
  .basket {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}
.basket_state_active {
  border-color: #41cffa;
}
@media (max-width: 900px) {
  .basket_state_active {
    border-color: transparent;
    color: #41cffa;
  }
}
.basket__icon {
  margin-right: 1.4rem;
  font-size: 3rem;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .basket__icon {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
    margin-left: 1.4rem;
  }
}
.basket__text {
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .basket__text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
.contacts {
  margin-top: 60px;
}
.contacts__info {
  font-size: 0;
  margin-bottom: 25px;
}
.contacts__address {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
}
@media (max-width: 900px) {
  .contacts__address {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 49px;
    font-size: 3rem;
  }
}
.contacts__addressDesc {
  font-family: GothamPro, sans-serif;
  color: #808080;
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 1.4;
}
@media (max-width: 900px) {
  .contacts__addressDesc {
    font-size: 1.8rem;
  }
}
.contacts__telMail {
  display: inline-block;
  width: 50%;
  padding-left: 20%;
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  vertical-align: top;
}
@media (max-width: 900px) {
  .contacts__telMail {
    width: 100%;
    padding: 0 40px;
    font-size: 3rem;
  }
}
.contacts__mail {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.contacts__mail:hover {
  opacity: 0.8;
}
@media (max-width: 900px) {
  .contacts__mail {
    font-size: 3rem;
  }
}
.contacts__map {
  margin-bottom: 60px;
}
.content {
  margin-top: 50px;
}
.content_width_70 {
  padding-right: 30%;
  padding-left: 30px;
}
@media (max-width: 900px) {
  .content_width_70 {
    padding: 0 40px;
  }
}
.content__product {
  max-width: 242px;
  float: right;
  margin-right: -45%;
  margin-left: 20px;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .content p {
    font-size: 1.8rem;
  }
}
.enterNumber {
  height: 55px;
  line-height: 55px;
  border: 1px solid #f2f2f2;
  font-size: 0;
  max-width: 130px;
  display: inline-block;
}
@media (max-width: 900px) {
  .enterNumber {
    width: 100%;
    max-width: none;
  }
}
.enterNumber__decrease,
.enterNumber__increase {
  font-family: fontello;
  border: none;
  display: inline-block;
  background-color: transparent;
  height: 55px;
  width: calc(100% / 3);
  padding: 0;
  font-size: 1.8rem;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .enterNumber__decrease,
  .enterNumber__increase {
    width: 55px;
    font-size: 2.4rem;
  }
}
.enterNumber__input {
  display: inline-block;
  width: calc(100% / 3);
  height: 50px;
  border: none;
  padding: 0;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .enterNumber__input {
    width: calc(100% - 110px);
    font-size: 2.4rem;
    font-weight: 700;
  }
}
.filter {
  font-size: 0;
  margin-top: 40px;
}
@media (max-width: 900px) {
  .filter {
    padding: 0 40px;
    display: none;
  }
}
.filter__selectProduct {
  height: 230px;
  width: 100%;
  display: table;
  table-layout: fixed;
}
@media (max-width: 900px) {
  .filter__selectProduct {
    display: block;
    height: auto;
  }
}
.filter__productItem {
  display: table-cell;
  height: 100%;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  background-color: #000;
  position: relative;
}
@media (max-width: 900px) {
  .filter__productItem {
    display: block;
    width: auto;
    height: auto;
    height: 90px;
  }
}
.filter__productItem_background_blue {
  background-color: #41cffa;
}
.filter__productItem:not(.filter__productItem_background_blue) {
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.filter__productItem:not(.filter__productItem_background_blue):hover {
  opacity: 0.9;
}
.filter__productItem:before {
  content: '';
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 41%, #505765 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0) 41%, #505765 100%);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
}
.filter__productIcon {
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .filter__productIcon {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-bottom: 0;
    width: 100px;
  }
}
.filter__productName {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: Ekibastuz, sans-serif;
  color: #fff;
}
@media (max-width: 900px) {
  .filter__productName {
    padding-left: 120px;
    text-align: left;
    line-height: 90px;
  }
}
.filter__selectOptions {
  display: block;
  background-color: #41cffa;
}
@media (max-width: 900px) {
  .filter__selectOptions {
    display: none;
  }
}
.filter__allOptionsList {
  font-size: 0;
  padding-top: 46px;
  padding-bottom: 37px;
  table-layout: fixed;
  width: 100%;
  display: none;
}
.filter__allOptionsList._active {
  display: table;
}
.filter__column {
  display: table-cell;
  vertical-align: top;
}
.filter__column:not(:first-child) {
  border-left: 1px solid #76defd;
}
.filter__optionsTitle {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 28px;
  color: #fff;
  margin-bottom: 13px;
  height: 13px;
}
.filter__optionsList {
  display: block;
}
.filter__option {
  font-size: 1.4rem;
  padding: 13px 28px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.filter__option:hover,
.filter__option_selected_true {
  background-color: #11acdb;
}
.filter__option_selected_true:before {
  content: '';
  font-family: fontello;
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.4rem;
  font-weight: 400;
}
.filter__option:not(:last-child) {
  margin-bottom: 1px;
}
.filter_mobile {
  font-size: 0;
  margin-top: 40px;
  padding: 0 40px;
}
@media (min-width: 900px) {
  .filter_mobile {
    display: none;
  }
}
.filter_mobile__selectProduct {
  display: block;
  height: auto;
}
.filter_mobile__productItem {
  display: block;
  background-color: #000;
  position: relative;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.filter_mobile__productItem:hover {
  opacity: 0.9;
}
.filter_mobile__choiseProduct {
  height: 100px;
  position: relative;
}
.filter_mobile__choiseProduct:after {
  content: '';
  font-family: fontello;
  position: absolute;
  right: 34px;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.4rem;
  font-weight: 400;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.filter_mobile__choiseProduct._active {
  background-color: #41cffa;
}
.filter_mobile__choiseProduct._active:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.filter_mobile__productIcon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
}
.filter_mobile__productName {
  font-size: 3rem;
  font-weight: 800;
  font-family: Ekibastuz, sans-serif;
  color: #fff;
  padding-left: 120px;
  text-align: left;
  line-height: 100px;
}
.filter_mobile__selectOptions {
  display: block;
  background-color: #41cffa;
}
.filter_mobile__allOptionsList {
  font-size: 0;
  table-layout: fixed;
  width: 100%;
  display: none;
  border-top: 1px solid #11acdb;
}
.filter_mobile__allOptionsList._active {
  display: block;
}
.filter_mobile__column {
  display: block;
}
.filter_mobile__optionsTitle {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0 28px;
  color: #fff;
  line-height: 100px;
  background-color: #41cffa;
}
.filter_mobile__optionsList {
  display: block;
}
.filter_mobile__optionsList._active .filter_mobile__option {
  display: block;
}
.filter_mobile__option {
  font-size: 2.4rem;
  padding: 0 80px 0 28px;
  color: #fff;
  cursor: pointer;
  position: relative;
  display: none;
  line-height: 100px;
}
.filter_mobile__option:hover,
.filter_mobile__option_selected_true {
  background-color: #11acdb;
  display: block;
}
.filter_mobile__option_selected_true:before {
  content: '';
  font-family: fontello;
  position: absolute;
  right: 34px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.4rem;
  font-weight: 400;
}
.footer {
  height: 300px;
  padding: 56px 29px 82px;
  max-width: 963px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}
.footer:before,
.footer:after {
  content: "";
  display: table;
}
.footer:after {
  clear: both;
}
@media (max-width: 640px) {
  .footer {
    overflow-x: hidden;
  }
}
.footer:before {
  content: '';
  display: block;
  background-color: #000;
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;
}
@media (max-width: 900px) {
  .footer {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}
.footer__logo {
  float: left;
  margin-bottom: 9px;
}
@media (max-width: 900px) {
  .footer__logo {
    float: none;
    text-align: center;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
}
.footer__copyright {
  float: left;
  color: #fff;
  font-size: 1.2rem;
  clear: left;
  line-height: 1.1;
  text-indent: -15px;
}
@media (max-width: 900px) {
  .footer__copyright {
    float: none;
    text-align: center;
    text-indent: 0;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    font-size: 1.6rem;
  }
}
.footer__copyright a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.footer__copyright a:hover {
  opacity: 0.8;
}
@media (max-width: 900px) {
  .footer__copyright a {
    font-size: 1.6rem;
  }
}
.footer__address {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
  float: right;
  margin-right: 57px;
  line-height: 1.3;
}
@media (max-width: 900px) {
  .footer__address {
    float: none;
    text-align: center;
    margin-right: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
}
.footer__address a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.footer__address a:hover {
  opacity: 0.8;
}
@media (max-width: 900px) {
  .footer__address a {
    font-size: 2.4rem;
  }
}
.footer__social {
  float: right;
}
@media (max-width: 900px) {
  .footer__social {
    float: none;
    text-align: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer__developer {
  float: left;
  clear: left;
  font-size: 1.2rem;
  color: #41cffa;
  text-decoration: none;
  margin-top: 86px;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.footer__developer:hover {
  opacity: 0.8;
}
@media (max-width: 900px) {
  .footer__developer {
    float: none;
    display: inline-block;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
    margin-top: 20px;
  }
}
.header {
  display: table;
  padding: 27px 0;
  font-size: 0;
  max-width: 963px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  z-index: 3;
  top: 0;
  -webkit-transition: left 0.2s;
          transition: left 0.2s;
  left: 0;
}
@media (max-width: 640px) {
  .header {
    overflow-x: hidden;
  }
}
.header:before {
  content: '';
  display: block;
  background-color: #000;
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;
}
@media (max-width: 640px) {
  .header {
    overflow-x: hidden;
  }
}
@media (max-width: 900px) {
  .header {
    position: fixed;
    width: 100%;
    min-width: 640px;
    -webkit-transition: left 0.5s;
            transition: left 0.5s;
  }
  .header._move {
    left: 509px;
  }
}
.header:before {
  border-bottom: 1px solid #101010;
}
@media (max-width: 900px) {
  .header {
    display: block;
    padding: 10px 0;
  }
}
.header__logo {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  width: 17%;
}
@media (max-width: 900px) {
  .header__logo {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 3px;
  }
}
.header__navSite {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  padding-left: 1.5%;
}
@media (max-width: 900px) {
  .header__navSite {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    height: 100%;
    z-index: 3;
  }
}
.header__basket {
  vertical-align: middle;
  display: table-cell;
  text-align: right;
  width: 31%;
}
@media (max-width: 900px) {
  .header__basket {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
.jumbotron {
  padding: 70px 30px 186px;
  position: relative;
  margin-bottom: -55px;
  position: relative;
  z-index: 1;
}
@media (max-width: 640px) {
  .jumbotron {
    overflow-x: hidden;
  }
}
.jumbotron:before {
  content: '';
  display: block;
  background-color: #000;
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;
}
@media (max-width: 900px) {
  .jumbotron {
    padding: 44px;
    margin-bottom: 0;
    text-align: center;
  }
}
.jumbotron__img {
  position: absolute;
  right: -3.2%;
  top: -16px;
  width: auto;
}
@media (max-width: 900px) {
  .jumbotron__img {
    display: inline-block;
    position: static;
    width: 80%;
    height: auto;
  }
}
.jumbotron__info {
  width: 40%;
}
@media (max-width: 900px) {
  .jumbotron__info {
    width: 100%;
  }
}
.jumbotron__title {
  font-family: Ekibastuz, sans-serif;
  font-size: 4.4rem;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 900;
  line-height: 5rem;
}
@media (max-width: 900px) {
  .jumbotron__title {
    text-align: left;
  }
}
.jumbotron__price {
  font-family: Ekibastuz, sans-serif;
  font-size: 4.4rem;
  color: #41cffa;
  font-weight: 900;
}
.jumbotron__desc {
  color: #fff;
  font-size: 1.4rem;
  line-height: 24px;
  margin-bottom: 32px;
}
@media (max-width: 900px) {
  .jumbotron__desc {
    font-size: 1.8rem;
    text-align: left;
  }
}
.jumbotron__btnInBasket {
  display: block;
}
.list {
  font-size: 0;
}
.list_type_mixed {
  display: block;
}
.list_type_product {
  margin-top: 46px;
  margin-bottom: 60px;
}
.list_offsetTop_m {
  margin-top: 30px;
}
.list_offsetBottom_xl {
  margin-bottom: 80px;
}
.list__item {
  display: inline-block;
  width: calc(100% / 4);
}
@media (max-width: 900px) {
  .list__item {
    width: calc(100% / 2);
  }
}
.list__item_size_wide {
  width: calc(100% / 2);
}
@media (max-width: 900px) {
  .list__item_size_wide {
    width: 100%;
  }
}
.list__showMore {
  text-align: center;
  margin-top: 28px;
}
@media (max-width: 900px) {
  .list__showMore {
    padding: 0 44px;
  }
}
.logo__link {
  font-family: Ekibastuz, sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.logo__link:hover {
  opacity: 0.8;
}
.logo__img {
  max-width: 200px;
}
.main {
  max-width: 963px;
  width: 100%;
  margin: auto;
}
.modal {
  min-width: 840px;
  height: 535px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 200;
  padding: 50px;
  font-size: 0;
  position: fixed;
  display: none;
}
.modal__close {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: transparent;
  font-size: 2.4rem;
}
.modal__product {
  display: inline-block;
  width: 242px;
  vertical-align: top;
}
.modal__productOrder {
  display: inline-block;
  width: calc(100% - 242px);
  vertical-align: top;
  padding-left: 8.1%;
}
.modal__title {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 17px;
}
.modal__desc {
  font-size: 1.2rem;
  color: #808080;
  margin-bottom: 47px;
}
.modal__form {
  display: block;
}
.modal__formInputGroup {
  margin-bottom: 34px;
}
.modal__formSend {
  display: block;
}
.modal__content {
  position: relative;
  height: calc(100% - 25px);
}
.modal__btnBottom {
  position: absolute;
  bottom: 0;
}
.navSite {
  font-size: 0;
  width: 100%;
  display: table;
  text-align: center;
}
@media (max-width: 900px) {
  .navSite {
    display: block;
    text-align: left;
    background-color: #292929;
    padding-top: 45px;
    width: 509px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: -509px;
    -webkit-transition: margin-left 0.5s;
            transition: margin-left 0.5s;
  }
  .navSite._show {
    margin-left: 0;
  }
}
.navSite__item {
  display: table-cell;
}
@media (max-width: 900px) {
  .navSite__item {
    display: block;
  }
}
.navSite__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}
@media (max-width: 900px) {
  .navSite__link {
    display: block;
    font-size: 3rem;
    font-weight: 800;
    padding: 35px 80px;
    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
  }
}
.navSite__link:hover {
  color: #41cffa;
}
@media (max-width: 900px) {
  .navSite__link:hover {
    color: #fff;
    background-color: #41cffa;
  }
}
.navSiteBtn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 36px;
}
@media (min-width: 900px) {
  .navSiteBtn {
    display: none;
  }
}
.navSiteBtn svg:hover path {
  stroke: #41cffa;
}
.pagination {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: 50px;
}
.pagination__item {
  display: table-cell;
  text-align: center;
}
.pagination__item_state_current .pagination__link {
  font-weight: 700;
  cursor: default;
  color: #000 !important;
}
.pagination__item_state_noavailable .pagination__link {
  cursor: default;
  color: #000 !important;
}
.pagination__link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}
.pagination__link:hover {
  color: #41cffa;
}
.product {
  font-size: 0;
  margin-top: 55px;
  padding: 0 20px;
  border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 900px) {
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
.product__info {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .product__info {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
.product__view {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .product__view {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 50px;
    margin-bottom: 40px;
  }
}
.product__title {
  font-family: Ekibastuz, sans-serif;
  font-size: 4.4rem;
  color: #000;
  font-weight: 900;
  line-height: 5rem;
  margin-left: 10px;
  margin-bottom: 30px;
}
.product__price {
  font-family: Ekibastuz, sans-serif;
  font-size: 4.4rem;
  color: #41cffa;
  font-weight: 900;
  margin-top: 5px;
}
.product__features {
  font-size: 1.4rem;
}
.product__featuresItem {
  margin: 9px 0;
}
.product__buy {
  margin-top: 20px;
  margin-left: 10px;
}
.product__preview {
  font-size: 0;
  text-align: center;
  padding-top: 40px;
}
@media (max-width: 900px) {
  .product__preview {
    display: none;
  }
}
.product__previewImg {
  display: inline-block;
  width: 94px;
  height: 94px;
  position: relative;
  border: 1px solid #d9d9d9;
  margin: 5px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}
.product__previewImg.active {
  border-color: #41cffa;
}
.product__previewImg img {
  max-width: 84px;
  max-height: 84px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product__view {
  position: relative;
}
.product__view .bx-prev,
.product__view .bx-next {
  font-family: fontello;
  color: #000;
  font-size: 4.8rem;
  font-weight: 400;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 900px) {
  .product__view .bx-prev,
  .product__view .bx-next {
    display: none;
  }
}
.product__view .bx-prev {
  left: 0;
}
.product__view .bx-next {
  right: 0;
}
.productShort {
  text-decoration: none;
  color: #000;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 400px;
  position: relative;
}
.productShort__card {
  background-color: #fff;
  box-shadow: 0 0 0 1px #f2f2f2;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  position: relative;
  padding-bottom: 20px;
  height: 100%;
  z-index: 1;
}
.productShort__card:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.productShort__card_state_nohover .productShort__btn {
  visibility: hidden;
}
.productShort__card:hover:not(.productShort__card_state_nohover) {
  height: calc(100% + 60px);
  padding-bottom: 80px;
  z-index: 2;
}
.productShort__card:hover:not(.productShort__card_state_nohover) .productShort__btn {
  opacity: 1;
}
.productShort__card:hover:not(.productShort__card_state_nohover):before {
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  box-shadow: 0px 10px 21px 7px rgba(0,0,0,0.2);
}
.productShort__underOrder {
  line-height: 23px;
  background-color: #ff691e;
  font-size: 1.2rem;
  color: #fff;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.productShort__img {
  position: relative;
  height: 165px;
  margin-bottom: 29px;
}
.productShort__img_height_high {
  height: 200px;
}
.productShort__img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.productShort__title {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0 28px;
  margin-bottom: 16px;
  line-height: 21px;
}
@media (max-width: 900px) {
  .productShort__title {
    font-size: 2.4rem;
  }
}
.productShort__desc {
  font-size: 1.2rem;
  padding: 0 28px;
  height: 80px;
  overflow: hidden;
  line-height: 16px;
  margin-bottom: 17px;
}
@media (max-width: 900px) {
  .productShort__desc {
    font-size: 1.6rem;
  }
}
.productShort__desc_height_short {
  height: 45px;
}
.productShort__price {
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: #41cffa;
  padding: 0 28px;
  margin-bottom: 14px;
}
@media (max-width: 900px) {
  .productShort__price {
    font-size: 2.4rem;
  }
}
.productShort__btn {
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 0 28px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  opacity: 0;
  z-index: 2;
}
@media (max-width: 900px) {
  .productShort__btn {
    width: 100%;
  }
}
.searchForm {
  position: relative;
  height: 55px;
  margin-top: 38px;
}
@media (max-width: 900px) {
  .searchForm {
    margin: 38px 40px 0;
  }
}
.searchForm_status_focus {
  z-index: 2;
}
.searchForm__input {
  display: block;
  padding: 0 48px 0 20px;
  font-size: 1.8rem;
}
.searchForm__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scaleX(-1);
      -ms-transform: translateY(-50%) scaleX(-1);
          transform: translateY(-50%) scaleX(-1);
  right: 10px;
  font-size: 2.4rem;
  color: #000;
  border: none;
  background-color: transparent;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}
.searchForm__btn:hover {
  color: #41cffa;
}
.searchForm__list {
  display: none;
  background-color: #fff;
}
.searchForm__list_state_show {
  display: block;
}
.searchForm__item {
  line-height: 55px;
  padding: 0 20px;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
  cursor: pointer;
  font-size: 1.8rem;
}
.searchForm__item:hover {
  background-color: #41cffa;
}
.searchResult {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 70px;
  border-bottom: 1px solid #f2f2f2;
}
.searchResult__list {
  font-size: 0;
}
.searchResult__item {
  display: inline-block;
  width: calc(100% / 4);
}
.shoppingBasket__products {
  display: block;
}
.shoppingBasket__shipping {
  display: block;
}
.shoppingBasket__title {
  font-size: 3rem;
  font-family: Ekibastuz, sans-serif;
  padding: 35px 27px;
}
.shoppingBasket__productsTable {
  display: table;
  width: 100%;
  vertical-align: middle;
  box-shadow: 0 0 0 1px #f2f2f2;
}
@media (max-width: 900px) {
  .shoppingBasket__productsTable {
    display: block;
    box-shadow: none;
  }
}
.shoppingBasket__productsTableRow {
  display: table-row;
  height: 140px;
}
.shoppingBasket__productsTableRow:before,
.shoppingBasket__productsTableRow:after {
  content: "";
  display: table;
}
.shoppingBasket__productsTableRow:after {
  clear: both;
}
@media (max-width: 900px) {
  .shoppingBasket__productsTableRow {
    display: block;
    font-size: 0;
    position: relative;
    height: 300px;
    box-shadow: 0 1px 0 0 #f2f2f2, 0 -1px 0 0 #f2f2f2;
    padding: 20px 40px;
  }
}
.shoppingBasket__productsTableImg {
  display: table-cell;
  text-align: center;
  width: 18%;
  vertical-align: middle;
  box-shadow: 0 1px 0 0 #f2f2f2;
}
.shoppingBasket__productsTableImg img {
  max-width: 100%;
  max-height: 140px;
}
@media (max-width: 900px) {
  .shoppingBasket__productsTableImg {
    width: 50%;
    float: left;
  }
  .shoppingBasket__productsTableImg:before,
  .shoppingBasket__productsTableImg:after {
    content: "";
    display: table;
  }
  .shoppingBasket__productsTableImg:after {
    clear: both;
  }
}
.shoppingBasket__productsTableName {
  display: table-cell;
  text-align: left;
  width: 40%;
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  color: #000;
  font-weight: 800;
  vertical-align: middle;
  padding-left: 2.8%;
  box-shadow: 0 1px 0 0 #f2f2f2;
}
@media (max-width: 900px) {
  .shoppingBasket__productsTableName {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-shadow: none;
    margin-top: 22px;
    padding-left: 5%;
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
}
.shoppingBasket__productsTableNumber {
  display: table-cell;
  text-align: center;
  width: 15%;
  vertical-align: middle;
  box-shadow: 0 1px 0 0 #f2f2f2;
}
@media (max-width: 900px) {
  .shoppingBasket__productsTableNumber {
    display: block;
    position: absolute;
    bottom: 40px;
    box-shadow: none;
    left: 40px;
    right: 40px;
    width: auto;
  }
}
.shoppingBasket__productsTablePrice {
  display: table-cell;
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  color: #41cffa;
  font-weight: 800;
  text-align: right;
  padding-right: 6%;
  vertical-align: middle;
  box-shadow: 0 1px 0 0 #f2f2f2;
}
@media (max-width: 900px) {
  .shoppingBasket__productsTablePrice {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 5%;
    padding-right: 0;
    text-align: left;
    box-shadow: none;
    font-size: 2.4rem;
  }
}
.shoppingBasket__total {
  display: block;
  background-color: #fff568;
  line-height: 65px;
  text-align: right;
  padding-right: 6%;
  font-family: Ekibastuz, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  box-shadow: 0 0 0 1px #f2f2f2;
}
@media (max-width: 900px) {
  .shoppingBasket__total {
    font-size: 2.4rem;
    text-align: center;
    padding-right: 0;
  }
}
.shoppingBasket__contacts {
  display: block;
  padding: 0 3%;
  font-size: 0;
  margin-bottom: 53px;
}
.shoppingBasket__contactsCol {
  display: inline-block;
  width: calc(50% - 3%);
  vertical-align: top;
}
.shoppingBasket__contactsCol + .shoppingBasket__contactsCol {
  margin-left: 6%;
}
@media (max-width: 900px) {
  .shoppingBasket__contactsCol {
    width: 100%;
  }
  .shoppingBasket__contactsCol:not(:last-child) {
    margin-bottom: 5%;
  }
  .shoppingBasket__contactsCol + .shoppingBasket__contactsCol {
    margin-left: 0;
  }
}
.shoppingBasket__contactsRow:not(:last-child) {
  margin-bottom: 8.5%;
}
@media (max-width: 900px) {
  .shoppingBasket__contactsRow:not(:last-child) {
    margin-bottom: 5%;
  }
}
.shoppingBasket__checkout {
  text-align: right;
  margin-top: 31px;
  margin-right: 3%;
}
@media (max-width: 900px) {
  .shoppingBasket__checkout {
    margin: 20px 3%;
  }
}
.social {
  font-size: 0;
}
.social__item {
  display: inline-block;
}
.social__item:not(:last-child) {
  margin-right: 7px;
}
.social__facebook {
  display: inline-block;
  background-color: #282828;
  width: 42px;
  height: 42px;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.social__facebook:hover {
  opacity: 0.8;
}
.social__twitter {
  display: inline-block;
  background-color: #282828;
  width: 42px;
  height: 42px;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.social__twitter:hover {
  opacity: 0.8;
}
